version: '3.8'
services:
  # --------------------------------------------------------
  # 1. Consul
  # --------------------------------------------------------
  # consul:
  #     image: hashicorp/consul:latest
  #     # container_name: consul
  #     command: "agent -config-dir=/consul/config"
  #     # command: agent -server -bootstrap -ui -config-dir=/consul/config -client=0.0.0.0 -client=0.0.0.0 -bind=0.0.0.0 -advertise=consul
  #     volumes:
  #         - ./consul/config:/consul/config
  #     ports:
  #         - '8500:8500'
  #         - '8600:8600/udp'
  #     networks:
  #         - micro_net
  #     # restart: unless-stopped
  #     deploy:
  #         restart_policy:
  #             condition: on-failure
  auth-service:
    image: flaminglassoo1996/auth-service:722dcc688fc937ead755797ee1c41d36893a83bf
    env_file:
      - ./${ENV_FOLDER:-env}/auth-service.env
    networks:
      - micro_net
    deploy:
      replicas: 1
      update_config:
        parallelism: 1 # update one instance at a time
        delay: 5s # wait between updates
        monitor: 10s # check if container crashes after update
        max_failure_ratio: 0.1
        order: start-first # start new replica before stopping old one
        failure_action: rollback
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ['CMD', 'wget', '--spider', '-q', 'http://localhost:8081/health']
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
  api-gateway:
    image: flaminglassoo1996/api-gateway:708483958e6f3af1968e21fa558cb699384d407a
    ports:
      - '9000:9000'
    env_file:
      - ./${ENV_FOLDER:-env}/api-gateway.env
    networks:
      - micro_net
    deploy:
      replicas: 1
      update_config:
        parallelism: 1 # update one instance at a time
        delay: 5s # wait between updates
        monitor: 10s # check if container crashes after update
        max_failure_ratio: 0.1
        order: start-first # start new replica before stopping old one
        failure_action: rollback
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ['CMD', 'wget', '--spider', '-q', 'http://localhost:9000/health']
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
      # --------------------------------------------------------
      # 4. Envoy Proxy (front of everything)
      # --------------------------------------------------------
      # envoy:
      #     image: envoyproxy/envoy:v1.33-latest
      #     # container_name: envoy
      #     depends_on:
      #         - consul
      #         - api-gateway
      #         - auth-service
      #     ports:
      #         - '8080:8080' # envoy public ingress
      #         - '9901:9901' # envoy admin
      #     volumes:
      #         - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
      #     networks:
      #         - micro_net
      #     # restart: unless-stopped
      #     deploy:
      #         restart_policy:
      #             condition: on-failure
# --------------------------------------------------------
# 5. Logging Stack (Loki + Promtail + Grafana)
# --------------------------------------------------------
# loki:
#     image: grafana/loki:latest
#     ports:
#         - '3100:3100'
#     command: -config.file=/etc/loki/local-config.yaml
#     networks:
#         - micro_net
# promtail:
#     image: grafana/promtail:latest
#     volumes:
#         - /var/lib/docker/containers:/var/lib/docker/containers:ro # Read container logs
#         - /var/run/docker.sock:/var/run/docker.sock  # <--- ADD THIS LINE
#         - ./config/promtail-config.yaml:/etc/promtail/config.yml # You need to create this file
#     command: -config.file=/etc/promtail/config.yml
#     networks:
#         - micro_net
# grafana:
#     image: grafana/grafana:latest
#     ports:
#         - '3000:3000'
#     environment:
#         - GF_SECURITY_ADMIN_PASSWORD=admin # Change this on first login
#         # 1. Tell Grafana its full public URL
#         - GF_SERVER_ROOT_URL=${GRAFANA_FULL_URL:-https://zain-api.xyz/go-ecommerce/grafana/}
#         # 2. Tell Grafana to strip the path when handling requests internally
#         - GF_SERVER_SERVE_FROM_SUB_PATH=true
#     networks:
#         - micro_net
#     volumes:
#         - grafana-storage:/var/lib/grafana

# volumes:
#     # ... existing volumes ...
#     grafana-storage:
networks:
  micro_net:
    driver: overlay
