server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: status
            values: ["running"]
    
    relabel_configs:
      # 1. Get the container name (e.g., "auth-service")
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container_name'
      
      # 2. Get the exact Image Name (e.g., "flaminglassoo1996/auth-service")
      - source_labels: ['__meta_docker_container_image']
        target_label: 'image_name'

      # 3. Create a clean "job" label based on the container name
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'job'

    pipeline_stages:
      # Parse the Docker JSON log format so the "log" message is clean
      - docker: {}