name: Deploy to Swarm

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Swarm Manager
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Navigate to where your repo is cloned on the server
            cd /root/backend/go/go-api-ecommerce-infra
            
            # Pull the changes (the new image tag)
            git pull origin master

            # Install yq (idempotent)
            command -v yq >/dev/null 2>&1 || \
              (wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq && chmod +x /usr/bin/yq)

            echo "Checking image availability..."

            IMAGES=$(yq '.services[].image' docker-compose.yaml)

            for IMAGE in $IMAGES; do
              echo "Waiting for image $IMAGE..."
              for i in {1..30}; do
                if docker manifest inspect $IMAGE > /dev/null 2>&1; then
                  echo "✔ Image available: $IMAGE"
                  break
                fi

                if [ $i -eq 30 ]; then
                  echo "❌ Image not found after waiting: $IMAGE"
                  exit 1
                fi

                sleep 5
              done
            done

            # ---------------------------------------------------------
            # NEW: Check if Swarm is active, if not, initialize it
            # ---------------------------------------------------------
            if [ "$(docker info --format '{{.Swarm.LocalNodeState}}')" != "active" ]; then
                echo "⚠️ Docker Swarm is NOT active. Initializing now..."
                # Initialize Swarm (Advertise addr is usually auto-detected on single VPS)
                docker swarm init
            else
                echo "✅ Docker Swarm is already active."
            fi
            
            echo "All images are available. Deploying stack..."            
            
            # Deploy the stack
            # Docker Swarm is smart; it sees only the image tag changed 
            # and will perform a rolling update based on your deploy:update_config
            docker stack deploy --with-registry-auth --resolve-image always -c docker-compose.yaml microstack
            
            # Optional: Prune old images to save space
            docker image prune -f